@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media screen and (max-width: 600px) {
  #heading {
    width: 100%;
    font-size: 2rem;
  }

  #textarea-input {
    width: 100%;
  }

  #text-output {
    width: 100%;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'IBM Plex Mono', monospace;
}

* {
  box-sizing: border-box;
}
